*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #fffaf3;
    font-family: 'Poppins' , 'Segoe UI' ,sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: #4a3b2b;
    margin: 0;
    padding: 0;

}
nav{
    height: 100vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

a {
    position: relative;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #a0a0a0;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding:0 10px;
}
a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom:-10px;
    transition:0.3s;
}
a:hover{
    color: #fffffff;
}
a:hover:after{
    width: 100%;
}



h1,h2,h3,h4{
    color: #d48a62;
    font-family: 'Playfair Display' , serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    margin: 0.5em;
}
pre{
    color: #d48a62;
    font-family: 'Playfair Display' , serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: left;
    margin: 0.5em;
}
.Testimonials-page h1,
.Testimonials-page h2{
    border-style: dashed;
    border-width: 2px;
    border-color: gray;
    border-radius: ;

}

.Testimonials-page h1,
.Testimonials-page h2{
    color: gray;
}

.Home-page {


}



.Products-page {




}

.Contact-page{

}

